<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>

</head>
<body>
<div id="nav">

<button id="login">Login</button>
<button id="register">Register</button>
 </div>
<div>
<h1>Make Your Dream House</h1>
</div>
<form action="search" method="post">
<input type="search" name="search" placeholder="search for cities">
</form>

<script type="text/javascript">
document.getElementById("register").onclick = function() {
    window.location.href = "map-register";
};


</script>


</body>
</html>