<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>New Register</title>
</head>
<body>
    <h1>New Register</h1>
    <button id="contractor">Contractor Registration</button>
    <button id="labour">Labour Registration</button>
    <button id="company-reg">Company Registration</button>

    <script type="text/javascript">
        document.getElementById("contractor").onclick = function() {
            window.location.href = "map-contractor";
        };

        document.getElementById("labour").onclick = function() {
            window.location.href = "map-labour";
        };

        document.getElementById("company-reg").onclick = function() {
            window.location.href = "map-company-reg";
        };
    </script>
</body>
</html>
